# Define build stages
stages:
  - tests
  - name: build
    if: branch = master
  - name: publish
    if: branch = master

# Ignore submodules for all stages
git:
  submodules: false

jobs:
  include:
    - stage: "Tests"
      name: "Shellcheck"
      env:
        - SHELLCHECK_OPTS="-e SC1008 -e SC2154"
      language: bash
      script:
        - shellcheck $(find . -type f -name '*.sh')
    - stage: "Build"
      name: "Build Docker image"
      language: minimal
      sudo: required
      services:
        - docker
      script:
        - sudo apt-get update
        - sudo apt-get --yes install docker-ce
        - ls -lR
        - docker-compose --file docker-compose.yml pull
        - docker-compose --file docker-compose.yml --file dc.build.yml build --no-cache nginx-php-moodle
        - docker images
    - name: "Build DEB package"
      language: bash
      script: echo "IMPLEMENT ME"
    - stage: "Publish"
      name: "Push docker image"
      language: bash
      script: echo "IMPLEMENT ME"
    - name: "Push DEB package"
      language: bash
      script: echo "IMPLEMENT ME"
