# Define build stages
stages:
  - Tests
  - SDLC Tasks
  - Build and Publish

# Use minimal image
language: minimal

jobs:
  include:
  - stage: Tests
    name: Shellcheck
    env:
      - SHELLCHECK_OPTS="-e SC1008 -e SC2154"
    script:
      - shellcheck $(find . -type f -name '*.sh')
  - name: Dockerfile linter
    script:
      - docker run --rm -v $PWD:/root/ projectatomic/dockerfile-lint dockerfile_lint -f ./deb-builder/Dockerfile
      - docker run --rm -v $PWD:/root/ projectatomic/dockerfile-lint dockerfile_lint -f ./nginx-php-moodle/Dockerfile
  - stage: "SDLC Tasks"
    name: Tag & iteration update
    sudo: required
    script:
      - bash bin/travis-ci/check_tag.sh
  - stage: Build and Publish
    name: Docker image
    env:
      - secure: f2d/XXnpYhkG543Uu/MByFlMDAYyYCI/SckSralR0exI10DLBsZ7pixRjT7D+SKwMFkaIWDq5m5HBW4uFeZCqPKm/gOiLpYZyCOPOohg2Fr3//i1Oy4jWNmpq6fb6hwjbOcgdAjLxRHwYmXl8aD6Gb4SyGQSbxj/WnF7vgG87/15HG+m+7l23ODvESxbNrzE+YWbJ21BXdIjpkwsJFKNWGG8NvN7kQqKHa9z8t+TSr2f56jRLZMEcqql/+YGRqWmqskqbv3qeHNnPlF7aUhtVL0GFs9gmBtzVjP/xvRtwGSG1r9sl888z2EPiwtMBhK7G3fS5m6bKuwu43zPcVl2OGxUmUBQ2zpXKXH3aBHD5GOlSjua7LRmV1X/TrgUY4ciW01ZNpUkH4pTojajPKs5Vph8BxOMe2GsfzwVQyPo/FZdlLCb3mKXP8DwISOYoAIOzL/F1vcejA2SOsgBoglywnYavJYdDaFRCPUvjUtbFTY10qb2pwSJ7Mm1ZnAirY4Jz048N7PH2j0INkHCvZEHP+cyHNMdct7oQfep/S3JlPjjnI773MdaI9wLOvGE9d73JBhMO1ylIT7ZWY+W1ZAurwN3/8dYhFX0swoeLt5Eej5Tr9UprugQjeqYDdUtmZne8SM7wYicbjcFKI6PuHWAmrXhWcGL2VFw82TRzEk9oSI=
      - secure: luAVdoARjWTC/PmF3CmqHe8JCv9P0HjfA6epcdPP3SGC4AJrbS3bDC2aYF0F6c79TS6kAgnQ+zfJ71MOD8nS0393oAmsRPdkJYnO9wIwJdtwZmDBhsjrhQ2sMQgBuiRsndTXGIPVfoFKIIS9Mje4O0nYYm56zSRUOjllrx0ui0GAKljCLAVqxF+iXw9ZjJabXVASixcmG19ch+d35fBWICorgSy+wj8wyFMoEq4d/Nmdk/K/AznqBokkWNCgiKzGvoAXAFm7nm3r7RghEM2WJaZHUTKU5eQkB8XCPM+4YsbWXASbZFVvC7izICbtIUSKQu5cojNc8Rj6Lh38NiHo3xPxgAAo3Z2tj1+moUYq3iGUWQqe9yKeWAUXhJXSQCvysqTIt1fKD6g3hT+uH23n70O674PgbRusHlPtkSq0tBjsL+e6+CY9p7AqGiWzDQupKzzgsZ/qH6P9TdOQi5CsMwCLBdltpkfW4GSOC7CrIjrEuixDjN4DOSccjZRcDdiA5XURsQWJKooHT/+Mr28uwAJQQ99ffx9rUobzndZjv1+am/80pxh2OmGP3LGZg3J9LvrJluQIZxLmHalpWiM5TSjW9zpOyWLdiNLZixf9/aWAqvjUPz5Wo4/hqzHEsEUFcVeuxTY9yVhn9YBGdGmzkGpLAt6zmCPE+fM3UT/zGP4=
      - secure: kSHmkAhMMo6HWl3RwT3Fdw+wawPZaY6ecHL4E1AwAXuZPAUXJ38k2lppxF9ciWpJpkSJAE7+le8A7qJJuLKecQ/y4X7LCE6BYiCi7hyKEq4E/nBD8WnZyCC7lvAn2RoBQtDWP3PbzkNljBC96Zs+1lLKtbQ+5XLHMGyr9BXIAlUo/hUHBc9ZDWiyw/vzUCYZOOM2p24mtLw0dG6+cpT2/u4n1m4C+qpwPPqWfW6/4rEaybcCf+PWahCHDGGmEAGYLaPQFNDdYmPGwgdCHth+ofOnVxoRl/phQFDOk8BuEoxXgblpj0idDh61juX43foZVU7xdJi6sKkMDP3Glvxr4eSKvXpwqEXl8Jf4kfw/qF28huxXdINzOft8Owl4OTX8qyxlBfPWVR+e/mvjHp+HHsjHBTAw3LXIO8oFZkmIqENEL63lq9YGAPavsjcClsLE2vhMe18zl6jdYuE9fYO4uVBXlCCK6rFVApLp7o0ltkuVSCjSv1A0J9VARJmQYZBHXkeIY2eGA24O9lKhQf4l1CJWe9ThpKm5DAGZny9rnST/xobbdX2kbgq0l3olGRQaCxUFsl6RrdTc0K3DMJ6UqumoYyGaf2qQeaNZI4stChpF9D2vloudhga0x1wQjvm4+y7o/5qicrrfN5Lr05kU1Bg6mDXPddy9/9a6yf6/Uno=
    sudo: required
    services:
      - docker
    script:
      - bash bin/travis-ci/docker_upgrade.sh
      - bash bin/travis-ci/docker_build.sh
    deploy:
      skip_cleanup: true
      provider: script
      script: bash bin/travis-ci/docker_publish.sh
      on:
        tags: true
  - name: DEB package
    sudo: required
    services:
      - docker
    script:
      - bash bin/travis-ci/docker_upgrade.sh
      - bash bin/travis-ci/deb_build.sh
      - bash bin/travis-ci/deb_package.sh
    deploy:
      skip_cleanup: true
      provider: releases
      api_key:
        secure: EkqOzzm5Al3tAlLsPBZPbtDZw3rrjUCbgYkQIKMBWrsECvTed/y+dNfN1XLgLfcyv4am0rO1iTINXtxuTZJXvA2x48iO4DHHK0OfATUOb1BF81nkic6NNb0/p7qmjZ8brXj6EFAzGVI2vVEtH/Mvh9cqe7b1LuDm+Wf9B+LpZxa2FmUmTumJn/6sKuk8CxFboXG3f+Ul17vADugvu50AtRzSgED2Q3J2eVl/s16xz0Gs/okygQigbKEnfKlfPekZ8TOLV3nQTKcWdxvleEF97KT9hPV4EN4oTjWB3ZTNQK93uCeFr6LJTXVlgXwYmBIKRWD05T9qLRy7iw1loqRgNqdFtOZGOic4+RAVJfQLAEN1htvT2j8cBVTpJBbunB10o1lJPQ4j24nJVf5gNgg3g9oB6458ZAg2H+9wyGLTFdZWbCWtA7S4CMwWUN/PSn7YUw1fgy81XuAOyoH5P4MAeoA4DpBp9sstzqxUpjRqYvs+3guNT4cW/HavbTjO6H/Ix9sXtn0iOaTkiBTcgyJ7VnJ+zWfYAznhdratN9NJWhpySo9T1TX4chqOtQKMGP9VqIqYWdJ3m6UAZuDb4cTJknEjzH+/3fd0I59Dd/MrOryRvGkUi8Q5Fn0HV+a1OwO9XOWm0SF5HcxZ6X/lCKzOo84v4fooDLmFj73YW0dm+sM=
      file_glob: true
      file:
        - moodle-docker_*.deb
      on:
        tags: true
