---

version: '3.6'

x-logging:
    &common-logging
    driver: "${LOG_DRIVER}"

x-secopts:
    &sec-opts
    security_opt:
      - label:disable

services:
  nginx-php-moodle:
    networks:
      db:
      mail:
    image: ${DOCKER_REGISTRY_URL}/nginx-php-moodle:latest
    logging: *common-logging
    <<: *sec-opts
    depends_on:
      - postfix
      - postgres
    environment:
      HTTP_PORT: "${HTTP_PORT}"
      HTTPS_PORT: "${HTTPS_PORT}"
      MOODLE_ADMIN_EMAIL: "${MOODLE_ADMIN_EMAIL}"
      MOODLE_ADMIN_PASS: "${MOODLE_ADMIN_PASS}"
      MOODLE_DATAROOT: "${MOODLE_DATAROOT}"
      MOODLE_DBTYPE: "${MOODLE_DBTYPE}"
      MOODLE_WWWROOT: "${MOODLE_WWWROOT}"
      MOODLE_FULL_NAME: "${MOODLE_FULL_NAME}"
      MOODLE_SHORT_NAME: "${MOODLE_SHORT_NAME}"
      MOODLE_UPGRADE_KEY: "${MOODLE_UPGRADE_KEY}"
      PGSQL_HOSTNAME: "${PGSQL_HOSTNAME}"
      PGSQL_PORT: "${PGSQL_PORT}"
      PGSQL_DATABASE: "${PGSQL_DATABASE}"
      PGSQL_USER: "${PGSQL_USER}"
      PGSQL_PASSWORD: "${PGSQL_PASSWORD}"
      CHALLENGE_DIR: "${CHALLENGE_DIR}"
      CERT_DIR: "${CERT_DIR}"
      CERT_DOMAIN: "${CERT_DOMAIN}"
      SSMTP_REWRITEDOMAIN: "${SSMTP_REWRITEDOMAIN}"
    ports:
      - "${HTTP_PORT}:${HTTP_PORT}"
      - "${HTTPS_PORT}:${HTTPS_PORT}"
    volumes:
      # Moodle data dir
      - type: bind
        source: ${MOODLE_DATAROOT}
        target: /opt/moodle/moodledata
      # Volume to backup Moodle configuration
      - type: volume
        source: moodle
        target: /opt/moodle/backup
      # Directory for serving certbot challenge files
      - type: volume
        source: certbot-challenges
        target: ${CHALLENGE_DIR}
      # Directory for serving certificates
      - type: volume
        source: certs
        target: ${CERT_DIR}
  postfix:
    networks:
      mail:
    image: ${DOCKER_REGISTRY_URL}/postfix
    environment:
      POSTFIX_RELAYHOST:
      POSTFIX_RELAYHOST_PORT:
      POSTFIX_SASL_AUTH:
      POSTFIX_TLS:
    logging: *common-logging
    <<: *sec-opts
  postgres:
    networks:
      db:
    image: ${DOCKER_REGISTRY_URL}/postgres:9.6
    logging: *common-logging
    <<: *sec-opts
    environment:
      POSTGRES_DB: "${PGSQL_DATABASE}"
      POSTGRES_USER: "${PGSQL_USER}"
      POSTGRES_PASSWORD: "${PGSQL_PASSWORD}"
    volumes:
      - type: volume
        source: db
        target: /var/lib/postgresql/data
  postgres-backup:
    image: ${DOCKER_REGISTRY_URL}/postgres-backup:latest
    depends_on:
      - "postgres"
    volumes:
      - type: bind
        source: ${MOODLE_BACKUP_ROOT}
        target: /backup
    environment:
      POSTGRES_PASSWORD: "${PGSQL_PASSWORD}"
      POSTGRES_USER: "${PGSQL_USER}"
      POSTGRES_DB: "${PGSQL_DATABASE}"
      DUMPPREFIX: "backup"
      POSTGRES_HOST: "postgres"
      POSTGRES_PORT: "5432"
    logging: *common-logging
    <<: *sec-opts
    command: /bin/true
    networks:
      db:
  certbot:
    networks:
      certbot:
    image: ${DOCKER_REGISTRY_URL}/sc-certbot:latest
    logging: *common-logging
    <<: *sec-opts
    depends_on:
      - nginx-php-moodle
    environment:
      ADMIN_EMAIL: "${ADMIN_EMAIL}"
      CERT_DOMAIN: "${CERT_DOMAIN}"
    volumes:
      - type: volume
        source: certbot-challenges
        target: /challenges
      - type: volume
        source: certs
        target: /certs

networks:
  db:
  mail:
  certbot:

volumes:
  certbot-challenges:
  certs:
  db:
  moodle:
