---

version: '3.2'

services:
  nginx:
    image: nginx
    depends_on:
      - moodle-app
      - php-fpm
    ports:
      - "80:80"
      - "443:443"
    links:
      - php-fpm
    volumes:
      - type: volume
        source: moodle_app
        target: /opt/moodle/moodle-${MOODLE_VER}
        volume:
          nocopy: true
      - type: bind
        source: ./conf/etc/nginx/nginx.conf
        target: /etc/nginx/nginx.conf
      - type: bind
        source: ./conf/etc/nginx/conf.d
        target: /etc/nginx/conf.d
      - type: bind
        source: ./conf/etc/nginx/ssl
        target: /etc/nginx/ssl
      - type: bind
        source: ${MOODLE_DATADIR}
        target: ${MOODLE_DATADIR}
  moodle-app:
    build:
      args:
        moodle_ver: "${MOODLE_VER}"
      context: ./moodle-app
    image: moodle-app:${MOODLE_VER}
    depends_on:
      - php-fpm
    volumes:
      - "moodle_app:/opt/moodle/moodle-${MOODLE_VER}"
    entrypoint:
      - cat
  php-fpm:
    build:
      context: ./php-fpm-centos
    image: moodle-php-fpm-centos:0.0.1
    environment:
      MOODLE_URL: "${MOODLE_URL}"
      PGSQL_HOSTNAME: "${PGSQL_HOSTNAME}"
      PGSQL_PORT: "${PGSQL_PORT}"
      POSTGRES_DB: "${PGSQL_DATABASE}"
      POSTGRES_USER: "${PGSQL_USER}"
      POSTGRES_PASSWORD: "${PGSQL_PASSWORD}"
    links:
      - postgres
    volumes:
      # PHP configuration
      - type: bind
        source: ./conf/etc/php.ini
        target: /etc/php.ini
      - type: bind
        source: ./conf/etc/php.d/10-opcache.ini
        target: /etc/php.d/10-opcache.ini
      # PHP-FPM configuration
      - type: bind
        source: ./conf/etc/php-fpm.conf
        target: /etc/php-fpm.conf
      - type: bind
        source: ./conf/etc/php-fpm.d
        target: /etc/php-fpm.d
      - type: bind
        source: ${MOODLE_DATADIR}
        target: ${MOODLE_DATADIR}
      - type: volume
        source: moodle_app
        target: /opt/moodle/moodle-${MOODLE_VER}
        volume:
          nocopy: true
  postgres:
    build:
      context: ../docker-postgres/9.6/alpine
    image: moodle-postgres
    environment:
      POSTGRES_DB: "${PGSQL_DATABASE}"
      POSTGRES_USER: "${PGSQL_USER}"
      POSTGRES_PASSWORD: "${PGSQL_PASSWORD}"

volumes:
  moodle_app:
    driver: local
