---

version: '3.2'

services:
  nginx:
    image: nginx
    depends_on:
      - moodle-app
    ports:
      - "80:80"
      - "443:443"
    links:
      - php-fpm
    volumes:
      - type: volume
        source: moodle_app
        target: /opt/moodle/moodle-3.4.2
        volume:
          nocopy: true
      - type: bind
        source: ./conf/etc/nginx/nginx.conf
        target: /etc/nginx/nginx.conf
      - type: bind
        source: ./conf/etc/nginx/conf.d
        target: /etc/nginx/conf.d
      - type: bind
        source: ./conf/etc/nginx/ssl
        target: /etc/nginx/ssl
  moodle-app:
    image: moodle-app-3.4.2
    depends_on:
      - php-fpm
      - postgres
    volumes:
      - "moodle_app:/opt/moodle/moodle-3.4.2"
  php-fpm:
    image: moodle-php-fpm
    links:
      - postgres
    volumes:
      - type: bind
        source: ./conf/etc/php/php.ini
        target: /etc/php/php.ini
      - type: bind
        source: /opt/moodle/moodledata
        target: /opt/moodle/moodledata
      - type: volume
        source: moodle_app
        target: /opt/moodle/moodle-3.4.2
        volume:
          nocopy: true
  postgres:
    image: moodle-postgres
    environment:
      - POSTGRES_PASSWORD=password123
      - POSTGRES_USER=moodle
      - POSTGRES_DB=moodle

volumes:
  moodle_app:
    driver: local
