---

version: '2'

services:
  nginx:
    image: moodle-nginx
    ports:
      - "80:80"
      - "443:443"
    links:
      - fpm
    volumes:
      - /opt/moodle/ssl:/etc/nginx/ssl
  fpm:
    image: moodle-fpm
    volumes:
      - /opt/moodle:/opt/moodle
      - /opt/moodledata:/opt/moodledata
    links:
      - db
    environment:
      - MOODLE_DOCKER_DBTYPE=pgsql
      - MOODLE_DOCKER_DBNAME=moodle
      - MOODLE_DOCKER_DBUSER=moodle
      - MOODLE_DOCKER_DBPASS=password123
      - MOODLE_DOCKER_WEB_HOST=192.168.1.195
  db:
    image: moodle-postgres
    volumes:
      - /opt/moodle/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password123
      - POSTGRES_USER=moodle
      - POSTGRES_DB=moodle
