---

version: '3.2'

services:
  nginx-php:
    networks:
      all:
    build:
      context: ./nginx-php
    image: nginx-php:0.0.1
    depends_on:
      - moodle-app
      - postgres
    environment:
      MOODLE_DATAROOT: "${MOODLE_DATAROOT}"
      MOODLE_VERSION: "${MOODLE_VERSION}"
      MOODLE_WWWROOT: "${MOODLE_WWWROOT}"
      PGSQL_HOSTNAME: "${PGSQL_HOSTNAME}"
      PGSQL_PORT: "${PGSQL_PORT}"
      PGSQL_DATABASE: "${PGSQL_DATABASE}"
      PGSQL_USER: "${PGSQL_USER}"
      PGSQL_PASSWORD: "${PGSQL_PASSWORD}"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # Moodle app
      - type: volume
        source: moodle_app
        target: /opt/moodle/moodle-${MOODLE_VERSION}
        volume:
          nocopy: true
      # Nginx configuration
      - type: bind
        source: ./conf/etc/nginx/nginx.conf
        target: /etc/nginx/nginx.conf
      - type: bind
        source: ./conf/etc/nginx/conf.d
        target: /etc/nginx/conf.d
      - type: bind
        source: ./conf/etc/nginx/ssl
        target: /etc/nginx/ssl
      # Moodle data dir
      - type: bind
        source: ${MOODLE_DATAROOT}
        target: ${MOODLE_DATAROOT}
      # PHP configuration
      - type: bind
        source: ./conf/etc/php/7.2/fpm/php.ini
        target: /etc/php/7.2/fpm/php.ini
      - type: bind
        source: ./conf/etc/php/7.2/mods-available/opcache.ini
        target: /etc/php/7.2/mods-available/opcache.ini
      # PHP-FPM configuration
      - type: bind
        source: ./conf/etc/php/7.2/fpm/php-fpm.conf
        target: /etc/php/7.2/fpm/php-fpm.conf
      - type: bind
        source: ./conf/etc/php/7.2/fpm/pool.d/www.conf
        target: /etc/php/7.2/fpm/pool.d/www.conf
  moodle-app:
    build:
      args:
        moodle_ver: "${MOODLE_VERSION}"
      context: ./moodle-app
    image: moodle-app:${MOODLE_VERSION}
    volumes:
      - "moodle_app:/opt/moodle/moodle-${MOODLE_VERSION}"
  postgres:
    networks:
      all:
    build:
      context: ./docker-postgres/9.6/alpine
    image: moodle-postgres
    environment:
      POSTGRES_DB: "${PGSQL_DATABASE}"
      POSTGRES_USER: "${PGSQL_USER}"
      POSTGRES_PASSWORD: "${PGSQL_PASSWORD}"

volumes:
  moodle_app:
    driver: local

networks:
  all:
