---

version: '3'

services:
  nginx-php-moodle:
    networks:
      all:
    image: ${DOCKER_REGISTRY_URL}/nginx-php-moodle:${PHP_VERSION}-${MOODLE_VERSION}
    depends_on:
      - postgres
    environment:
      MOODLE_ADMIN_EMAIL: "${MOODLE_ADMIN_EMAIL}"
      MOODLE_ADMIN_PASS: "${MOODLE_ADMIN_PASS}"
      MOODLE_DATAROOT: "${MOODLE_DATAROOT}"
      MOODLE_DBTYPE: "${MOODLE_DBTYPE}"
      MOODLE_VERSION: "${MOODLE_VERSION}"
      MOODLE_WWWROOT: "${MOODLE_WWWROOT}"
      MOODLE_FULL_NAME: "${MOODLE_FULL_NAME}"
      MOODLE_SHORT_NAME: "${MOODLE_SHORT_NAME}"
      MOODLE_UPGRADE_KEY: "${MOODLE_UPGRADE_KEY}"
      PGSQL_HOSTNAME: "${PGSQL_HOSTNAME}"
      PGSQL_PORT: "${PGSQL_PORT}"
      PGSQL_DATABASE: "${PGSQL_DATABASE}"
      PGSQL_USER: "${PGSQL_USER}"
      PGSQL_PASSWORD: "${PGSQL_PASSWORD}"
      PHP_VERSION: "${PHP_VERSION}"
    volumes:
      # Nginx configuration
      - type: bind
        source: ./conf/etc/nginx/nginx.conf
        target: /etc/nginx/nginx.conf
      - type: bind
        source: ./conf/etc/nginx/conf.d
        target: /etc/nginx/conf.d
      - type: bind
        source: ./conf/etc/nginx/ssl
        target: /etc/nginx/ssl
      # Moodle data dir
      - type: bind
        source: ${MOODLE_DATAROOT}
        target: ${MOODLE_DATAROOT}
      # PHP configuration
      - type: bind
        source: ./conf/etc/php/7.2/fpm/php.ini
        target: /etc/php/7.2/fpm/php.ini
      - type: bind
        source: ./conf/etc/php/7.2/mods-available/opcache.ini
        target: /etc/php/7.2/mods-available/opcache.ini
      # PHP-FPM configuration
      - type: bind
        source: ./conf/etc/php/7.2/fpm/php-fpm.conf
        target: /etc/php/7.2/fpm/php-fpm.conf
      - type: bind
        source: ./conf/etc/php/7.2/fpm/pool.d/www.conf
        target: /etc/php/7.2/fpm/pool.d/www.conf
  postgres:
    networks:
      all:
    image: ${DOCKER_REGISTRY_URL}/postgres:9.6
    environment:
      POSTGRES_DB: "${PGSQL_DATABASE}"
      POSTGRES_USER: "${PGSQL_USER}"
      POSTGRES_PASSWORD: "${PGSQL_PASSWORD}"
    volumes:
      - type: volume
        source: db
        target: /var/lib/postgresql/data

networks:
  all:

volumes:
  db:
