---

version: '3.6'

services:
  nginx-php-moodle:
    networks:
      db:
      mail:
    image: ${DOCKER_REGISTRY_URL}/nginx-php-moodle:${BUILD_VERSION}
    depends_on:
      - postfix
      - postgres
    environment:
      HTTP_PORT: "${HTTP_PORT}"
      HTTPS_PORT: "${HTTPS_PORT}"
      MOODLE_ADMIN_EMAIL: "${MOODLE_ADMIN_EMAIL}"
      MOODLE_ADMIN_PASS: "${MOODLE_ADMIN_PASS}"
      MOODLE_DATAROOT: "${MOODLE_DATAROOT}"
      MOODLE_DBTYPE: "${MOODLE_DBTYPE}"
      MOODLE_WWWROOT: "${MOODLE_WWWROOT}"
      MOODLE_FULL_NAME: "${MOODLE_FULL_NAME}"
      MOODLE_SHORT_NAME: "${MOODLE_SHORT_NAME}"
      MOODLE_UPGRADE_KEY: "${MOODLE_UPGRADE_KEY}"
      PGSQL_HOSTNAME: "${PGSQL_HOSTNAME}"
      PGSQL_PORT: "${PGSQL_PORT}"
      PGSQL_DATABASE: "${PGSQL_DATABASE}"
      PGSQL_USER: "${PGSQL_USER}"
      PGSQL_PASSWORD: "${PGSQL_PASSWORD}"
      CHALLENGE_DIR: "${CHALLENGE_DIR}"
      CERT_DIR: "${CERT_DIR}"
      CERT_DOMAIN: "${CERT_DOMAIN}"
      SSMTP_REWRITEDOMAIN: "${SSMTP_REWRITEDOMAIN}"
    ports:
      - "${HTTP_PORT}:${HTTP_PORT}"
      - "${HTTPS_PORT}:${HTTPS_PORT}"
    volumes:
      # Nginx configuration
      - type: bind
        source: ./conf/etc/nginx/nginx.conf
        target: /etc/nginx/nginx.conf
      - type: bind
        source: ./conf/etc/nginx/conf.d
        target: /etc/nginx/conf.d
      - type: bind
        source: ./conf/etc/nginx/ssl
        target: /etc/nginx/ssl
      # Moodle data dir
      - type: bind
        source: ${MOODLE_DATAROOT}
        target: /opt/moodle/moodledata
      # PHP configuration
      - type: bind
        source: ./conf/etc/php/7.2/fpm/php.ini
        target: /etc/php/7.2/fpm/php.ini
      - type: bind
        source: ./conf/etc/php/7.2/mods-available/opcache.ini
        target: /etc/php/7.2/mods-available/opcache.ini
      # PHP-FPM configuration
      - type: bind
        source: ./conf/etc/php/7.2/fpm/php-fpm.conf
        target: /etc/php/7.2/fpm/php-fpm.conf
      - type: bind
        source: ./conf/etc/php/7.2/fpm/pool.d/www.conf
        target: /etc/php/7.2/fpm/pool.d/www.conf
      # Volume to backup Moodle configuration
      - type: volume
        source: moodle
        target: /opt/moodle/backup
      # Directory for serving certbot challenge files
      - type: volume
        source: certbot-challenges
        target: ${CHALLENGE_DIR}
      # Directory for serving certificates
      - type: volume
        source: certs
        target: ${CERT_DIR}
  postfix:
    networks:
      mail:
    image: ${DOCKER_REGISTRY_URL}/postfix
  postgres:
    networks:
      db:
    image: ${DOCKER_REGISTRY_URL}/postgres:9.6
    environment:
      POSTGRES_DB: "${PGSQL_DATABASE}"
      POSTGRES_USER: "${PGSQL_USER}"
      POSTGRES_PASSWORD: "${PGSQL_PASSWORD}"
    volumes:
      - type: volume
        source: db
        target: /var/lib/postgresql/data
  certbot:
    networks:
      certbot:
    image: ${DOCKER_REGISTRY_URL}/sc-certbot:latest
    depends_on:
      - nginx-php-moodle
    environment:
      ADMIN_EMAIL: "${ADMIN_EMAIL}"
      CERT_DOMAIN: "${CERT_DOMAIN}"
    volumes:
      - type: volume
        source: certbot-challenges
        target: /challenges
      - type: volume
        source: certs
        target: /certs

networks:
  db:
  mail:
  certbot:

volumes:
  certbot-challenges:
  certs:
  db:
  moodle:
